<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina principal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
</head>

<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="to_link">
        <a href="{{ url_for('item_create') }}">Añadir objeto</a>
        <a href="{{ url_for('item_list') }}">Mostrar objetos</a>
        <a href="{{ url_for('item_delete') }}">Borrar objeto</a>

        <a href="{{ url_for('loan_create') }}">Añadir prestamo</a>
        <a href="{{ url_for('loan_list') }}">Mostrar prestamos</a>
        <a href="{{ url_for('loan_delete') }}">Borrar prestamos</a>
    </div>

    <br>
    <br>

    {% for item in items %}
        <li>{{ item.name }} - {{ item.amount }} - {{ item.state }}</li>
    {% endfor %}

    <br>
    <br>

    {% for loan in loans %}
      {% for item in items %}
        {% if item.id == loan.item_id%}
        <li>{{ item.name}} ({{ loan.amount }}): {{ loan.user }} desde {{ loan.loan_date }} hasta {{ loan.refund_date }}</li>
        {% endif %}
      {% endfor%}
    {% endfor %}

</body>
</html>
