<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina principal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <script src="{{ url_for('static', filename='search.js') }}"></script>
</head>

<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% if error %}
      <p><strong>Error:</strong> {{ error }}
    {% endif %}

    <div class="dropdown">
      <button onclick="dropDown(0)" class="dropdownbtn">Objetos</button>
      <div id="dropdown_objects" class="dropdown_objects">
        <a href="{{ url_for('item_create') }}">Añadir</a>
        <a href="{{ url_for('item_list') }}">Mostrar</a>
        <a href="{{ url_for('item_delete') }}">Borrar</a>
        <a href="{{ url_for('item_edit') }}">Editar</a>
      </div>
    </div>

    <div class="dropdown">
      <button onclick="dropDown(1)" class="dropdownbtn">Prestamos</button>
      <div id="dropdown_loans" class="dropdown_objects">
        <a href="{{ url_for('loan_create') }}">Añadir</a>
        <a href="{{ url_for('loan_list') }}">Mostrar</a>
        <a href="{{ url_for('loan_delete') }}">Borrar</a>
     </div>
    </div>

    <div class="dropdown">
      <button onclick="dropDown(2)" class="dropdownbtn">Sanciones</button>
      <div id="dropdown_penalties" class="dropdown_objects">
        <a href="{{ url_for('penalty_create') }}">Añadir</a>
        <a href="{{ url_for('penalty_list') }}">Mostrar</a>
        <a href="{{ url_for('penalty_delete') }}">Borrar</a>
     </div>
    </div>

    <br>
    <br>

    {% for item in items %}
        <li>{{ item.name }} - {{ item.amount }} - {{ item.state }}</li>
    {% endfor %}

    <br>
    <br>

    {% for loan in loans %}
      {% for item in items %}
        {% if item.id == loan.item_id%}
        <li>{{ item.name}} ({{ loan.amount }}): {{ loan.user }} desde {{ loan.loan_date }} hasta {{ loan.refund_date }}</li>
        {% endif %}
      {% endfor%}
    {% endfor %}

</body>
</html>
