<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar objetos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/list.css') }}">
    <script src="{{ url_for('static', filename='search.js') }}"></script>
</head>

<body>
    <a href="{{ url_for('index') }}">Página principal</a>

  <form action="{{ request.path }}" method="POST">

    <table>
      <tr>
          <th>Objeto</th>
          <th>Cantidad</th>
          <th>Estado</th>
          <th>Tipo</th>
          <th>Duración préstamo</th>
          <th>% penalizacion</th>
      </tr>
    {% for item in items %}
      <input type="checkbox" name="objetos" id ="item_{{ item.id }}" value="{{ item.id }}">
      {{ item.name }}
      <input type="number" min="0" name="amount" value="{{ item.amount }}">
      {{ item.state }}
      {{ item.type }}
      <input type="number" min="0" name="loan_days" value="{{ item.loan_days }}">
      <input type="number" min="0" name="penalty_coefficient" value="{{ item.penalty_coefficient }}"><br>
    {% endfor %}
    </table>

    <input type="submit" value="Submit">
  </form>
</body>
</html>
