<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar objetos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/list.css') }}">
</head>

<body>
    <a href="{{ url_for('index') }}">Página principal</a>

    <table>
      <tr>
          <th>Objeto</th>
          <th>Cantidad</th>
          <th>Estado</th>
          <th>Tipo</th>
          <th>Duración préstamo</th>
          <th>% penalizacion</th>
      </tr>
    {% for item in items %}
      <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.state }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.loan_days }}</td>
          <td>{{ item.penalty_coefficient }}</td>
      </tr>
    {% endfor %}
    </table>

</body>
</html>
