<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear objeto</title>
</head>

<body>
    <form action="{{ request.path }}" method="POST">
        Nombre:
        <input type="text" name="name" required="true" placeholder="Nombre">

        Cantidad:
        <input type="number" min="0" name="amount" required="true" placeholder="Cantidad">

        Tipo:
        <input type="text" name="type" required="true" placeholder="Tipo de objeto">

        Estado:
        <input type="text" name="state" required="true" placeholder="Defectuoso, funciona...">

        Dias préstamo:
        <input type="number" min="0" name="loan_days" required="true" placeholder="Duración max préstamo">

        Ratio penalización:
        <input type="number" min="0" max="1" step="0.01" name="penalty_coefficient" required="true" placeholder="Ratio penalización">

        <input type="submit" value="Submit">
    </form>

</body>
</html>
