<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar objetos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/list.css') }}">
</head>

<script>
 /* Busca en la tabla el campo seleccionado*/
 /* Para hacer la busqueda case sensitive, eliminar toUpperCase*/
function searchItem() {
  var input, filter, table, tr, td, i, select;
  input = document.getElementById("Buscador");
  filter = input.value.toUpperCase();
  table = document.getElementById("Lista_objetos");
  tr = table.getElementsByTagName("tr");
  select = document.getElementById("Opciones");

     // Obtiene el valor del selector
 var option = select.options[select.selectedIndex].value;
     // Itera sobre los las filas y oculta los elementos que no cumples la búsqueda
     for (i = 0; i < tr.length; i++) {
         // Busca en la primera columna, en este caso nombre del objeto
    td = tr[i].getElementsByTagName("td")[option];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
<body>
    <a href="{{ url_for('index') }}">Página principal</a><br>

    <!-- Barra para buscar objetos en la tabla -->
    <input type="text" id="Buscador" onkeyup="searchItem()" placeholder="Buscar objetos">

    <select id="Opciones">
      <option value="0">Nombre</option>
      <option value="1">Cantidad</option>
      <option value="2">Estado</option>
      <option value="3">Tipo</option>
      <option value="4">Dias</option>
      <option value="5">Coeficiente</option>
    </select>

    <table id="Lista_objetos">
      <tr>
          <th>Objeto</th>
          <th>Cantidad</th>
          <th>Estado</th>
          <th>Tipo</th>
          <th>Duración préstamo</th>
          <th>% penalizacion</th>
      </tr>
    {% for item in items %}
      <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.state }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.loan_days }}</td>
          <td>{{ item.penalty_coefficient }}</td>
      </tr>
    {% endfor %}
    </table>

</body>
</html>
