<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar objetos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/list.css') }}">
    <script src="{{ url_for('static', filename='search.js') }}"></script>
</head>

<body>
    <a href="{{ url_for('index') }}">Página principal</a>

    <input type="text" id="Buscador" onkeyup="searchItem()" placeholder="Buscar objeto">

    <select id="Opciones">
      <option value="0">Objeto</option>
      <option value="1">Cantidad</option>
      <option value="2">Estado</option>
      <option value="3">Tipo</option>
      <option value="4">Duración</option>
      <option value="5">Coeficiente</option>
    </select>

    <table>
      <tr>
          <th>Objeto</th>
          <th>Cantidad</th>
          <th>Estado</th>
          <th>Tipo</th>
          <th>Duración préstamo</th>
          <th>% penalizacion</th>
      </tr>
    </table>
    {% for item in items %}
          [{{ item.id }}]
          <input type="text" name="name" value="{{ item.name }}">
          <input type="number" min="0" name="amount" value="{{ item.amount }}">
          <input type="text" name="amount" value="{{ item.state }}">
          <input type="text" name="type" value="{{ item.type }}">
          <input type="number" min="0" name="loan_days" value="{{ item.loan_days }}">
          <input type="number" min="0" name="penalty_coefficient" value="{{ item.penalty_coefficient }}"><br>
    {% endfor %}

</body>
</html>
