<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrar préstamo</title>
    <script src="{{ url_for('static', filename='search.js') }}"></script>
</head>

<body>

    <input type="text" id="Buscador" onkeyup="searchCheckbox()" placeholder="Buscar prestamos">

    <form action="{{ request.path }}" method="POST">
        Préstamo:<br>
              {% for item in items%}
                  <input type="checkbox" id="loan_{{loan.id}}" name="prestamos" value="{{ loan.id }}">{{loan.user}} : {{item.name}}<br>
            {% endfor %}
        <input type="submit" value="Submit">
    </form>

</body>
</html>
