<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrar préstamo</title>
</head>

<body>
    <form action="{{ request.path }}" method="POST">
       <br>
       Préstamo:
       <br>

      {% for loan in loans %}
        {% for item in items %}
          {% if item.id == loan.item_id %}
          <input type="checkbox" id="loan_{{ loan.id }}" name="prestamos" value="{{ loan.id }}">
          {{ loan.user }} :
          {{ loan.amount }}
          {{ item.name }}
          {{ loan.loan_date }}<br>
          {% endif %}
        {% endfor %}
      {% endfor %}
        <input type="submit" value="Submit">
    </form>

</body>
</html>
