<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> 

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/objects.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />

    <script src="{{ url_for('static', filename='search.js') }}"></script>

    <title>Crear préstamo</title>
  </head>

  <body>

    <nav class="shadow-lg navbar navbar-expand-lg navbar-light bg-light">
      <a href="{{ url_for('index') }}" class="navbar-brand">Prestamos</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <!-- Dropdown de objetos -->
          <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Objetos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('item_create') }}">Añadir</a>
              <a class="dropdown-item" href="{{ url_for('item_list') }}">Mostrar</a>
              <a class="dropdown-item" href="{{ url_for('item_edit') }}">Editar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('item_delete') }}">Borrar</a>
            </div>
          </li>
          <!-- Dropdown de prestamos -->
          <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Prestamos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('loan_create') }}">Añadir</a>
              <a class="dropdown-item" href="{{ url_for('loan_list') }}">Mostrar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('loan_delete') }}">Finalizar</a>
            </div>
          </li>
          <!-- Dropdown de prestamos -->
          <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sanciones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('penalty_create') }}">Añadir</a>
              <a class="dropdown-item" href="{{ url_for('penalty_list') }}">Mostrar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('penalty_delete') }}">Borrar</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <form action="{{ request.path }}" method="POST">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="user_prepend">Usuario</span>
        </div>
        <input type="number" class="form-control" placeholder="Nia del usuario" aria-label="Nombre" aria-describedby="basic-addon1" name="user" required="true" min="100000000" max="100999999">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="user_prepend">Cantidad</span>
        </div>
        <input type="number" class="form-control" placeholder="Nia del usuario" aria-label="Cantidad" aria-describedby="basic-addon1" name="amount" required="true" min="0" value="1">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="fdate_prepend">Fecha inicial</span>
        </div>
        <input type="date" class="form-control" placeholder="Fecha del prestamo" aria-label="Fecha" aria-describedby="basic-addon1" name="loan_date" required="true" id="form_date">
      </div>

      <div id="buscador">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Criterio</label>
            <select class="custom-select" id="Opciones">
              <option value="1">Nombre</option>
              <option value="2">Cantidad</option>
              <option value="3">Estado</option>
              <option value="4">Tipo</option>
              <option value="5">Dias</option>
              <option value="6">Coeficiente</option>
            </select>
            <input type="text" style="width:500px" id="Buscador" onkeyup="searchItem()" placeholder="Buscar" class="form-control" aria-label="Text input with dropdown button">
          </div>
        </div>
      </div><!-- Div Buscador -->


      <table class="table table-hover center" id="Tabla">
        <thead>
          <tr>
            <th>Seleccion</th>
            <th>Objeto</th>
            <th>Cantidad</th>
            <th>Estado</th>
            <th>Tipo</th>
            <th>Duración préstamo</th>
            <th>% penalizacion</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td><input type="radio" required="true" value="{{ item.id }}" name="objeto"></td>
            <td>{{ item.name }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.state }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.loan_days }}</td>
            <td>{{ item.penalty_coefficient }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <input type="reset" value="Borrar">
      <input type="submit" value="Guardar">
    </form>

  </body>
</html>
