<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrar sanción</title>
</head>

<body>
  <a href="{{ url_for('index') }}">Página principal</a><br>
  <form action="{{ request.path }}" method="POST">
      Sanción:<br>
          {% for penalty in penalties %}
                  <input type="checkbox" id="penalty_{{penalty.id}}" name="penalties" value="{{ penalty.id }}">{{ penalty.user }} : {{ penalty.sanction_date }} : {{ penalty.penalty_date }}<br>
          {% endfor %}

      <input type="submit" value="Submit">
  </form>
</body>
</html>
