<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> 

    <link rel="stylesheet" type="text/css" href="/prestamos/static/styles/index.css">
    <link rel="stylesheet" type="text/css" href="/prestamos/static/styles/objects.css">

    <link rel="shortcut icon" type="image/x-icon" href="/prestamos/static/img/favicon.ico" />

    <script src="/prestamos/static/search.js"></script>
    <title>Crear sanción</title>
  </head>

  <body>
    <nav class="shadow-lg navbar navbar-expand-lg navbar-light bg-light">
      <a href="/prestamos/index" class="navbar-brand">Prestamos</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- Dropdown de objetos -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Objetos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/prestamos/object/create">Añadir</a>
              <a class="dropdown-item" href="/prestamos/object/list">Mostrar</a>
              <a class="dropdown-item" href="/prestamos/object/edit">Editar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/prestamos/object/delete">Finalizar</a>
            </div>
          </li>
          <!-- Dropdown de prestamos -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Prestamos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/prestamos/loan/create">Añadir</a>
              <a class="dropdown-item" href="/prestamos/loan/list">Mostrar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/prestamos/loan/delete">Finalizar</a>
            </div>
          </li>
          <!-- Dropdown de prestamos -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sanciones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/prestamos/penalty/create">Añadir</a>
              <a class="dropdown-item" href="/prestamos/penalty/list">Mostrar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/prestamos/penalty/delete">Finalizar</a>
            </div>
          </li>
        </ul>
        <span class="navbar-text">
          <img src="/prestamos/static/img/delegacion.png" alt="Logo Delegacion">
        </span>
        <span class="navbar-text">
          <a class="dropdown-item" href="/prestamos/logout">Salir</a>
        </span>
      </div>
    </nav>

    <form action="/prestamos/penalty/create" method="POST">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="user_prepend">Usuario</span>
        </div>
        <input type="number" class="form-control" placeholder="Nia del usuario" aria-label="Nombre" aria-describedby="basic-addon1" name="user" required="true" min="100000000" max="100999999">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="fdate_prepend">Fecha inicial</span>
        </div>
        <input type="date" class="form-control" placeholder="Fecha inicial" aria-label="Fecha" aria-describedby="basic-addon1" name="initial_date" required="true">
      </div><div class="input-group mb-3">

        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Fecha final</span>
        </div>
        <input type="date" class="form-control" placeholder="Fecha final" aria-label="Fecha" aria-describedby="basic-addon1" name="end_date" required="true">
      </div>

      <input class="input_select" type="submit" value="Guardar">
    </form>
  </body>
</html>
