* {
    font-family: "Roboto";
}

body {
    background-color: rgba(79, 129, 189, 0.6 );
}

.navbar {
    background-color: #FFFFFF;
    padding-bottom: 10px;
}

span.badge-info{
    position: relative;
    right:1vw;
    width: 7vw;
    background-color: rgb(69, 189, 156);
}

span.badge-secundary{
    width: 10vw;
}

a.navbar-brand {
    background-color: rgba(255, 192, 93, 0.6);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

div#container {
    padding-top: 5vh;
    width: 100vw;
}

div#left {
    padding-left: 0.2vw;
    padding-right: 0.1vw;
}

div#right {
    padding-right: 0.2vw;
    padding-left: 0.1vw;
}

table#Tabla {
    background-color: white;
    padding-left: 300px;
    margin-left: auto;
    margin-right: auto;
}

.mb-3, .my-3 {
    margin-bottom: 10px !important;
}


#login_form {
    margin-top: 20vh;
}

input {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding: 8px 10px;
    box-sizing: border-box;
}

button#access {
    width: 300px;
    box-sizing: border-box;
    padding: 5px 15px;
    text-shadow: -1px 0 4px rgba(0, 0, 0, 0.55);
    margin: 20px auto 0;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.45);
    border-width: 3px;
    margin-left: 38.2vw;
}
