body {
    background-color: rgba(79, 129, 189, 0.6 );
}

.navbar {
    background-color: #FFFFFF;
    padding-bottom: 10px;

}

form{
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 15%;
    width:90%;
}

a.navbar-brand {
    background-color: rgba(255, 192, 93, 0.6);
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
}

div#buscador{
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 15%;
    width:90%;
}

div#lista{
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    width:92%;
}
